/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
@media (min-width:1023px) {
	.menu_container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: -8px;
}
}
.page-link{
	text-align: center;
}
.category{
	margin-top: 20px;
}
.main-name{
	display: flex;
	justify-content: space-between;
}
.cat-address{
	display: flex;
	flex-direction: column;
}
.strip .wrapper small{
	margin-top: 10px;
}